@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #CC5221;
}

.search {
  width: 400px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    text-decoration: none;
}

.nav a {
  text-decoration: none;
}

.leftArrow{
  display: flex;
  font-size: 35px;
  color:white;
  cursor: pointer; 
  position: absolute;
  left: 250px;
  
}

.rightArrow{
  display: flex;
  font-size: 35px;
  color: white;
  cursor: pointer; 
  position: absolute;
  right: 250px;
}

.pageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.panelContainer {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  width: min(95%, 70rem);
  height: 550px;
  
}

.panelContainer div {
  
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid black;
}